<!DOCTYPE html>
<html lang="ko">
<head>
    <% include layout/header %>
</head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner cover">
                <h1 class="cover-heading"><img src="/img/icon/GitHub-Mark-32px.png"><%= msg %></h1>
            </div>
        </div>
    </div>
</div>
</body>
</html>