<!DOCTYPE html>
<html lang="ko">
<head>
    <% include layout/header %>
    <link href="/css/cover.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="inner cover">
                    <h1 class="cover-heading"><%= msg %></h1>
                    <p class="lead">
                        <a href="https://github.com/login/oauth/authorize?client_id=917614cfb633b397de81&redirect_uri=http://localhost/auth&scope=user,repo" class="btn btn-lg btn-default">
                            <img src="/img/icon/GitHub-Mark-32px.png">
                            <span>Github</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>