<!DOCTYPE html>
<html lang="ko">
<head>
    <% include layout/header %>
</head>
<body>
<ul>
    <% for(var i=0; i<commits.length; i++){ %>
    <li><%=commits[i].commits[0].message%></li>
    <% } %>
</ul>
</body>
</html>